

    <div class="container mx-auto px-4 py-8">
        @if(productData()?.product) { 
    <div class="w-full flex flex-wrap justify-between items-start ">

        <picture class="w-[95%] sm:w-[50%] mb-8 flex justify-center items-center">
        <img [src]="productData()?.product?.image" alt="Product" loading="lazy"
        class="w-[80%] h-auto rounded-lg shadow-md mb-4" id="mainImage">
        </picture>

        <div class="w-[95%] sm:w-[50%]">
        <h2 class="text-3xl font-bold mb-2 text-orange-950">{{productData()?.product?.title}}</h2>
        <p class="text-gray-600 mb-4">SKU: WH1000XM4</p>
        <div class="mb-4">
            <span class="text-2xl font-bold mr-2 text-orange-950">{{productData()?.product?.price | currency}}</span>
        </div>

        <div class=" flex flex-wrap items-center mb-4 gap-4">
        <app-stars-rating  [productRate]="productData()?.product?.rating?.rate!"/>
        <p class="text-orange-700 mb-6">
        {{productData()?.product?.description}}
        </p>
        
    
        <div class="flex justify-center items-end gap-5">

            <div class="flex flex-col justify-center items-center ">
            <label for="quantity" class="block text-sm font-medium text-orange-950 mb-1">Quantity:</label>
            <app-quantity-field  [existingQuantity]="1" (sendQuantity)="getUpdatedQuantity($event)" />
            </div>
        <div >
            <button (click)="addToCart()"
            class="bg-orange-600 flex gap-2 items-center text-white px-10 py-2 
            rounded-md hover:bg-orange-800 duration-200">
            Add to Cart
            </button>
        </div>
        </div>

        </div>
      </div>
    </div>
}
@if(productData() !== undefined){
<app-related-product  [product]="productData()?.product" class="w-full "/>
}

<app-loading [isLoading]="productData()?.loading!" />
<app-error-msg [errorMsg]="productData()?.error!"/>
</div>

  